watch_file ../flake.nix
watch_file ../flake.lock

flakes=(k8s jsonnet)

for flake in ${flakes[@]}; do
  if ! use flake ".#$flake" --impure
  then
    echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
  fi
done
